<!DOCTYPE html>
<html>
<head>
    <title>Internationalization</title>
</head>
<body>
<h1 th:text="#{greeting}"></h1>
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="fr" th:text="#{lang.fr}"></option>
</select></body></html>